@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-height: 100px;
    height: 10vh;
    background-color: #122b43;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    color: #fff;
    font-family: "Montserrat",sans-serif;
}
main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.header-article{
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
}
.header-article span{
    text-align: left;
}
.title{
    width: 100%;
    margin: 20px auto;
}
.tutor{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.tutor1{
  display: flex;
  width: 100%;
  margin: 20px auto;
}
.image{
    width: 25%;
    margin: auto 20px;
}
.text-tutor{
    width: 75%;
}
.header-article .photo-circle {
    width: 100px; /* adjust the width and height to your needs */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #edf9c7;
}

.header-article .image-container {
    width: 100%;
    height: 100%;
}
.saul>img{
  width: 100%;
}
.header-article .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.green-divider{
    height: 5px;
    width: 100%;
    background-color: #a8ec8d;
    margin: 20px auto;
}
.prices{
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  font-family: "Montserrat",sans-serif;
  background-color: #42464d;
  color: #ffff;
}
.prices>span{
  font-weight: 700;
}
.agend{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
    padding: 10px;
}
.tContact{
  width: 100%;
  margin: 20px auto;
}

.dv-header>h3{
    text-align: center;
}
.contacto{
    width: 60%;
    border-radius: 10px;
    background-color: #efebe5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    text-align: center;
}
.contacto>span{
    font-weight: 700;
}
.contact{
    display: flex;
    align-items: center;
}
.wts-logo{
    width: 100px;
    height: 50px;
}
.ins-logo{
    width: 100px;
    height: 50px;
}
.phn-logo{
    width: 100px;
    height: 50px;
}
.content {
  text-align: left;
  margin: auto 10%;
}
.tContact>span{
  font-weight: 700;
}
a{
  text-decoration: none;
  color: #000;
}
.divider{
  background-color: #fff;
  height: 7px;
  width: 100%;
  margin: 20px auto;
}
.prices>strong{
  margin: 20px auto;
}

/* Large screens (desktops) */
@media only screen and (min-width: 1200px) {
    /* Adjustments for large screens go here */
    .header-article{
        font-size: clamp(1rem, 1.5rem, 2rem);
    }
    .header-article .photo-circle{
        width: 200px;
        height: 200px;
        margin: auto 30px;
    }
    .image{
        width: 25%px;
    }
    .contact{
        align-items: center;
        justify-content: center;
    }
    .wts-logo,.phn-logo,.ins-logo{
        width: 100px;
        height: 150px;
    }
    .contact>span{
        font-size: clamp(1rem,1.5rem,2rem);
    }
    .tContact>span{
      font-size: 25px;
      font-weight: 700;
    }
    .prices{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .dv-header{
      font-size: 20px;
    }
    .tContact p{
      font-size: 20px;
    }
  }
  
  /* Medium screens (laptops) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Adjustments for medium screens go here */
    .header-article {
      padding: 15px;
      font-size: 20px;
    }
    .title {
      margin: 15px auto;
    }
    .tutor {
      margin: 15px auto;
    }
    .contacto {
      width: 70%;
    }
    .header-article .photo-circle{
        width: 200px;
        height: 200px;
    }
  }
  
  /* Small screens (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Adjustments for small screens go here */
    .header-article {
      padding: 10px;
    }
    .title {
      margin: 10px auto;
    }
    .tutor {
      margin: 10px auto;
    }
    .contacto {
      width: 80%;
    }
    .image {
      width: 30%;
    }
    .text-tutor {
      width: 70%;
    }
    .header-article .photo-circle{
        width: 150px;
        height: 150px;
    }
  }
  
  /* Extra small screens (mobiles) */
  @media only screen and (max-width: 767px) {
    /* Adjustments for extra small screens go here */
    header{
        font-size: 10px;
    }
    .header-article {
      padding: 5px;
    }
    .title {
      margin: 5px auto;
    }
    .tutor {
      margin: 5px auto;
    }
    .contacto {
      width: 90%;
    }
    .image {
      width: 40%;
    }
    .text-tutor {
      width: 60%;
    }
    .wts-logo, .ins-logo, .phn-logo {
      width: 50px;
      height: 25px;
    }
  }